<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="secureAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <configProtectedData defaultProvider="basicConfigurationSampleRsaProvider">
    <providers>
      <remove name="basicConfigurationSampleRsaProvider"/>
      <add name="basicConfigurationSampleRsaProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" keyContainerName="basicConfigurationSampleRsaKey" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <appSettings>
    <add key="Operations" value="Create|Read|Update|Delete|Assign|Revoke|Enable|Disable|Expire|Unexpire"/>
    <add key="Code" value="A"/>
    <add key="Enabled" value="false"/>
    <add key="Max" value="999"/>
    <add key="FirstDate" value="1988-08-08T12:34:00.000"/>
    <add key="Secret1" value="From the 'appSettings' section."/>
    <add key="SecondPriority" value="User=3;Group=2;Role=1"/>
  </appSettings>
  <secureAppSettings>
    <add key="Secret2" value="From the 'secureAppSettings' section."/>
    <add key="Secret3" value="From the 'secureAppSettings' section."/>
  </secureAppSettings>
</configuration>
